/* Page Styling */

/* body {
    margin: 0;
    padding: 0;
    background: #14495e;
  }*/

  .title{

    width: 1970px;
  }

  h1{

    font-family: 'East Sea Dokdo', cursive;
    text-align: center;
    font-size: 100px;
  }

  /* Eyes Styling */
  
  .eyes-right {
    position: fixed;
    top: 40%;
    transform: translateY(-50%);
    width: 2300px;
    text-align: center;
  }
  .eye-right {
    width: 200px;
    height: 120px;
    background: #fff;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }

  .ball-right {
    width: 80px;
    height: 80px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .eyes-left{

    position: fixed;
    top: 40%;
    transform: translateY(-50%);
    width: 1720px;
    text-align: center;

  }

  .eye-left{

    width: 200px;
    height: 120px;
    background: #fff;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

  }

  .ball-left{

  width: 80px;
  height: 80px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;

}

/* Other Styling */

.cat{

  position: absolute;
  top: -50px;
  left: 205px;
  

}

.main{
  background-image: url('images/bg9.jpeg');
  background-repeat: no-repeat;
  background-size: cover;

}