/* Page Styling */

body {
    margin: 0;
    padding: 0;
    background: #14495e;
  }

  .title{

    width: 1700px;
  }

  h1{

    font-family: 'East Sea Dokdo', cursive;
    text-align: center;
    font-size: 100px;
  }

  /* Eyes Styling */
  
  .eyes {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2000px;
    text-align: center;
  }
  .eye {
    width: 240px;
    height: 120px;
    background: #fff;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }

  .ball {
    width: 80px;
    height: 80px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .eye-container{

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1350px;
    text-align: center;

  }

  .eye-shape{

    width: 240px;
    height: 120px;
    background: #fff;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

  }

  .eye-ball{

  width: 80px;
  height: 80px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;

}
